<template>
    <div class="questContain">
        <div class="text-center">
            <h2>Assign Users to Questionnaires</h2>
            <h4>Please Select a Questionnaire</h4>
            <br>
            <label for="questionnaire">Select a Questionnaire</label>
            <select name="questionnaire" id="questionnaire" class="form-control"  v-model="selectedQuestion" @change="showUsers">
                <option value="" disabled selected>Select One</option>
                <option v-for="(quests, index) in questions" v-if="quests.assigned === '0'" :value="index">{{quests.name}}</option>
            </select>
            <br>
            <div v-if="showUser">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Assign</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Is Verified</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, index) in users">
                        <td><input type="checkbox" :value="user.userID" v-model="assignedUsers"></td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.state}}</td>
                        <td>{{user.zip}}</td>
                        <td>
                            <span v-if="user.verified == 1" class="verif">Verified</span>
                            <span v-else class="unverified">Unverified</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <span>Assign These Users: {{ assignedUsers }}</span>
                <br><br>
                <button type="button" class="btn btn-primary btn-block" @click="assignTheUsers">Assign Users</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        created: function () {
            let user = this.$store.state.userInfo;
            let api = this.$store.state.liveAPI;
            // let api = this.$store.state.testAPI;
            let self = this;
            let settings = {
                "async": true,
                "crossDomain": true,
                "url": api + "/questionnaire/getQuestions",
                "method": "GET",
                "dataType": "json",
                "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "Well-Token": user.token,
                    "user-id": user.userID
                }
            };
            $.ajax(settings).done(function (response) {
                self.questions = response;
            });

            let settings2 = {
                "async": true,
                "crossDomain": true,
                "url": api + "/users",
                "method": "GET",
                "dataType": "json",
                "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "Well-Token": user.token,
                    "user-id": user.userID
                }
            };

            $.ajax(settings2).done(function (response) {
                self.users = response;
            });
        },
        data(){
            return {
                users: {},
                questions: {},
                selectedQuestion: '',
                showUser: false,
                assignedUsers:[]
            }
        },
        computed: {},
        methods: {
            showUsers(){
                let questionObj = this.questions[this.selectedQuestion];
                this.showUser = true;
                this.assignedUsers = [];
                //console.log(questionObj);
            },
            assignTheUsers(){
                let users = this.assignedUsers;
                users.sort(function(a,b){return a-b});
                //console.log(this.questions[this.selectedQuestion]);
                //console.log(users);
                if(users.length < 1){
                    swal('No Users', 'Users Cannot Be Empty', 'error');
                }else{
                    let user = this.$store.state.userInfo;
                    let api = this.$store.state.liveAPI;
                    // let api = this.$store.state.testAPI;
                    let thisArray = [];
                    thisArray.push({'question': this.questions[this.selectedQuestion]});
                    thisArray.push({'users': users});
                    //console.log(thisArray);
                    let sendArray = JSON.stringify(thisArray);
                    //console.log(sendArray);
                    let self = this;
                    let settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": api + "/questionnaire/assign",
                        "method": "POST",
                        "dataType": "json",
                        "headers": {
                            "content-type": "application/json",
                            "cache-control": "no-cache",
                            "Well-Token": user.token,
                            "user-id": user.userID
                        },
                        "processData": false,
                        "data": sendArray
                    };
                    let ajaxReturn = [];
                    swal({
                        title: 'Create Questionnaire',
                        showCancelButton: true,
                        text: 'Add these ' + users.length + ' users to new questionnaire assignment?',
                        type: 'question',
                        confirmButtonText: 'Submit',
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                $.ajax(settings).done(function(response){
                                    ajaxReturn = response;
                                    resolve();
                                });
                            })
                        },

                    }).then(function () {
                        if(ajaxReturn.notice.result === 'success'){
                            self.assignedUsers = [];

                            swal({
                                type: 'success',
                                title: 'Questionnaire Assignment Was Added',
                                text: 'You have created a new questionnaire assignment'
                            }).then(function () {
                                self.$router.push('/');
                            })
                        }else{
                            swal({
                                type: 'error',
                                title: 'Questionnaire Assignment Failed',
                                text: ajaxReturn.notice.text
                            })
                        }
                    })
                }
            }
        },
        watch: {}

    }
</script>

<style scoped>
    .questContain{
        height: 55%;
        width: 95%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin: 15px 15px 15px 25px;
        vertical-align: top;
    }

    .unverified{
        color: red;
        font-weight: bold;
        font-size: larger;
    }

    .verif{
        color: seagreen;
        font-weight: bold;
        font-size: larger;
    }
</style>

