<template>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="head">Add to Questionnaire</th>
                <th class="head">Question ID</th>
                <th class="head"><span></span>Question</th>
            </tr>
            </thead>
            <tbody id="tableBody">
                <tr v-for="(quest, index) in questions.array">
                    <td><input type="checkbox" :value="quest.questionID" v-model="checkedQuests"></td>
                    <td class="question"><span>{{quest.questionID}}</span></td>
                    <td class="question"><span>{{quest.question | capitalize}}</span></td>
                </tr>
            </tbody>
        </table>
        <span>Checked Questions: {{ checkedQuests }}</span>
        <br>
        <br>
        <button type="button" class="btn btn-danger" @click="addToQuests">Finish and Add</button>
    </div>
</template>

<script>
    export default{
        created: function () {

        },
        props: ['questions','name'],
        data(){
            return {
                checkedQuests:[]
            }
        },
        computed: {},
        methods: {
            addToQuests(){
                let quests = this.checkedQuests;
                quests.sort(function(a,b){return a-b});
                //alert(quests);
                //alert(this.name);
                if(this.name === ''){
                    swal('Empty Name', 'Questionnaire Name Cannot Be Empty', 'error');
                }else{
                    if(quests.length === 0){
                        swal('No questions selected', 'First you must select all the questions you want to add to the new questionnaire.', 'error');
                    }else{
                        let user = this.$store.state.userInfo;
                        let api = this.$store.state.liveAPI;
                        // let api = this.$store.state.testAPI;
                        let thisArray = [];
                        thisArray.push({'name': this.name});
                        thisArray.push({'quests': quests});
                        //console.log(thisArray);
                        let sendArray = JSON.stringify(thisArray);
                        //console.log(sendArray);
                        let self = this;
                        let settings = {
                            "async": true,
                            "crossDomain": true,
                            "url": api + "/questionnaire/create",
                            "method": "POST",
                            "dataType": "json",
                            "headers": {
                                "content-type": "application/json",
                                "cache-control": "no-cache",
                                "Well-Token": user.token,
                                "user-id": user.userID
                            },
                            "processData": false,
                            "data": sendArray
                        };
                        let ajaxReturn = [];
                        swal({
                            title: 'Create Questionnaire',
                            showCancelButton: true,
                            text: 'Add these ' + quests.length + ' questions to new questionnaire ' + this.name,
                            type: 'question',
                            confirmButtonText: 'Submit',
                            showLoaderOnConfirm: true,
                            preConfirm: function () {
                                return new Promise(function (resolve, reject) {
                                    $.ajax(settings).done(function(response){
                                        ajaxReturn = response;
                                        resolve();
                                    });
                                })
                            },

                        }).then(function () {
                            if(ajaxReturn.notice.result === 'success'){
                                self.checkedQuests = [];
                                swal({
                                    type: 'success',
                                    title: 'Questionnaire Was Added',
                                    text: 'You have created a new questionnaire'
                                })
                            }else{
                                swal({
                                    type: 'error',
                                    title: 'Questionnaire Creation Failed',
                                    text: ajaxReturn.notice.text
                                })
                            }
                        })
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .question{
        font-weight: bold;
        font-size: larger;
        text-align: left !important
    }
    .head{
        color: red;
        text-align: center !important;
    }
</style>

