<template>
    <div class="questContain">
        <div class="text-center">
            <h2>Email Users and Let Them Know They Have a</h2>
            <h2>Questionnaire to Answer</h2>
            <h4>Please Select a Questionnaire</h4>
            <br>
            <label for="questionnaire">Select a Questionnaire</label>
            <select name="questionnaire" id="questionnaire" class="form-control"  v-model="selectedQuestion" @change="showUsers">
                <option value="" disabled selected>Select One</option>
                <option v-for="(quests, index) in questions" v-if="quests.assigned === '1'" :value="index">{{quests.name}}</option>
            </select>
            <br>
            <div v-if="showUser">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, index) in users">
                            <td>{{user.userID}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button type="button" class="btn btn-primary btn-block" @click="sendEmail">Send Emails</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created: function () {
            let user = this.$store.state.userInfo;
            let self = this;
            let api = this.$store.state.liveAPI;
            // let api = this.$store.state.testAPI;
            let settings = {
                "async": true,
                "crossDomain": true,
                "url": api + "/questionnaire/getQuestions",
                "method": "GET",
                "dataType": "json",
                "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "Well-Token": user.token,
                    "user-id": user.userID
                }
            };
            $.ajax(settings).done(function (response) {
                self.questions = response;
            });
        },
        data(){
            return {
                users: {},
                questions: {},
                selectedQuestion: '',
                showUser: false
            }
        },
        methods: {
            showUsers(){
                let questionObj = this.questions[this.selectedQuestion];
                let user = this.$store.state.userInfo;
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let self = this;
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/questionnaire/getForEmail/"+questionObj.questionnaireID,
                    "method": "GET",
                    "dataType": "json",
                    "headers": {
                        "content-type": "application/json",
                        "cache-control": "no-cache",
                        "Well-Token": user.token,
                        "user-id": user.userID
                    }
                };

                $.ajax(settings).done(function (response) {
                    self.users = response;
                    self.showUser = true;
                });


            },
            sendEmail(){
                //console.log(JSON.stringify(this.users));
            }
        }
    }
</script>

<style>
    .questContain{
        height: 55%;
        width: 95%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin: 15px 15px 15px 25px;
        vertical-align: top;
    }
</style>