<template>
    <div class="questContain">
        <div class="text-center">
            <h2>Create Questionnaire</h2>
            <h3>Please Enter Questionnaire Name</h3>
            <br>
            <label for="questionnaire_name">Name:</label>
            <input type="text" class="form-control" id="questionnaire_name" name="questionnaire_name" v-model="name">
            <br>
            <div class="well">
                <h5 class="instructions">After that just select group to add from that group.</h5>
                <h5 class="instructions">Click Finish and Add to complete after adding ALL questions.</h5>
            </div>
            <label for="questType">Select question group:</label>
            <select name="questType" id="questType" class="form-control"  v-model="selectedQuestionType" @change="showQuestions">
                <option value="" disabled selected>Select One</option>
                <option v-for="quests in getQuestType.array" :value="quests.ass_typeID">{{quests.type_description}}</option>
            </select>
            <template v-if="showQuestion">
                <app-create :questions="returnedQuestions" :name="name"></app-create>
            </template>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import Create from './Create.vue';

    export default{
        created: function () {
            let user = this.$store.state.userInfo;
            let api = this.$store.state.liveAPI;
            // let api = this.$store.state.testAPI;
            let userID = user.userID;
            let self = this;
            if(user.user_level === 'admin'){
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/question/main/"+userID,
                    "method": "GET",
                    "dataType": "json",
                    "headers": {
                        "cache-control": "no-cache",
                        "Well-Token": user.token
                    }
                };
                $.ajax(settings).done(function (response) {
                    if(response.notice.text === "success"){
                        //console.log(response);
                        self.updateQuestType(response.data);
                    }else if(response.notice.text === "Invalid Token" || response.notice.text === "no token"){
                        self.$router.push('/');
                        self.changeLogin(false);
                        self.emptyUser();
                    }else{
                        self.$router.push('/');
                        self.changeLogin(false);
                        self.emptyUser();
                    }

                });
            }
        },
        data(){
            return{
                selectedQuestionType: '',
                returnedQuestions: '',
                showQuestion:false,
                name: ''
            }
        },
        computed: {
            ...mapGetters([
                'getQuestType'
            ])
        },
        components:{
            appCreate: Create
        },
        methods: {
            ...mapActions([
                'updateQuestType',
                'changeLogin',
                'emptyUser'
            ]),
            showQuestions(){
                this.returnedQuestions = '';
                let user = this.$store.state.userInfo;
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let userID = user.userID;
                let self=this;
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/question/see/"+this.selectedQuestionType,
                    "method": "GET",
                    "dataType": "json",
                    "headers": {
                        "content-type": "application/json",
                        "Well-Token": user.token,
                        "user-id": userID,
                        "cache-control": "no-cache"
                    }
                };

                $.ajax(settings).done(function (response) {
                    if(response.notice.text === "success"){
                        //console.log(response);
                        self.returnedQuestions = response.data;
                        //console.log(self.returnedQuestions);
                        self.showQuestion = true;
                    }else if(response.notice.text === "Invalid Token" || response.notice.text === "no token"){
                        self.$router.push('/');
                        self.changeLogin(false);
                        self.emptyUser();
                    }else{
                        self.$router.push('/');
                        self.changeLogin(false);
                        self.emptyUser();
                    }

                });
            }
        },
        watch: {
            name: function () {
                if(this.name.trim().length > 0){
                    this.name =  this.name.replace(/^\s+/,"");
                }
            }
        }
    }
</script>

<style scoped>
    .instructions{
        color: darkred;
    }
    .questContain{
        height: 55%;
        width: 95%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin: 15px 15px 15px 25px;
        vertical-align: top;
    }
</style>

