<template>
    <div class="userContainer">
        <div class="formFields">
            <div class="text-center">
                <h1>Fill Out Form to Join</h1>
                <form>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter Username..." v-model="username">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" id="password" placeholder="8 characters long and contain (uppercase, lowercase, special char, and numeric)" v-model="password">
                            <br>
                            <label for="password2">Re-Enter Password:</label>
                            <input type="text" class="form-control" id="password2" placeholder="Enter it again" v-model="password2">
                            <br>
                            <label for="first_name">First Name:</label>
                            <input type="text" class="form-control" id="first_name" placeholder="First Name..." v-model="first">
                            <br>
                            <label for="last_name">Last Name:</label>
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name..." v-model="last">
                            <br>
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" placeholder="you@email.com" v-model="email">
                            <br>
                            <label for="address">Address:</label>
                            <input type="text" class="form-control" id="address" placeholder="135 Your Address" v-model="address">
                            <br>
                            <label for="city">City:</label>
                            <input type="text" class="form-control" id="city" placeholder="Boone" v-model="city">
                            <br>
                            <label for="state">State:</label>
                            <span>Selected: {{state}}</span>
                            <select id="state" class="form-control" v-model="state">
                                <option value="" selected="selected" disabled>Select a State</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                            <br>
                            <label for="zip">Zip:</label>
                            <input type="text" class="form-control" id="zip" placeholder="90109" @keydown="checkNumeric($event)" v-model="zip" :maxlength="5">
                            <br>
                            <div class="col-md-4">
                                <label for="phone1">&nbsp;</label>
                                <input type="text" class="form-control" id="phone1" placeholder="555" @keydown="checkNumeric($event)" v-model="phone1" :maxlength="3">
                            </div>
                            <div class="col-md-4">
                                <label for="phone2">Phone Number:</label>
                                <input type="text" class="form-control" id="phone2" placeholder="555" @keydown="checkNumeric($event)" v-model="phone2" :maxlength="3">
                            </div>
                            <div class="col-md-4">
                                <label for="phone3">&nbsp;</label>
                                <input type="text" class="form-control" id="phone3" placeholder="5555" @keydown="checkNumeric($event)" v-model="phone3" :maxlength="4">
                            </div>
                        </div>
                        <br><br><br>
                        <button type="button" class="btn btn-success btn-block" @click="validateEntry">Submit</button>
                    </div>
                    <div class="col-md-2"></div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                username: '',
                password: '',
                password2: '',
                first: '',
                last: '',
                phone1: '',
                phone2: '',
                phone3: '',
                email: '',
                address: '',
                city: '',
                state: '',
                zip: ''
            }
        },
        methods:{
            validateEntry(){
                // Frontend validation
                let username = $.trim(this.username);
                let isValid = true;
                if(username.length < 7){
                    swal('To Short','Your username needs to be at least 7 characters.', 'error');
                    isValid = false;
                    exit;
                }
                let password = $.trim(this.password);
                let password2 = $.trim(this.password2);
                if(password !== password2){
                    swal('Oops...', 'Your passwords don\'t match\n Please fix this.', 'error');
                    isValid = false;
                    exit;
                }
                if($.trim(this.first.length) < 2){
                    swal('To Short','Please enter your first name', 'error');
                    isValid = false;
                    exit;
                }
                if($.trim(this.last.length) < 2){
                    swal('To Short','Please enter your last name', 'error');
                    isValid = false;
                    exit;
                }
                let r1 = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                let email = $.trim(this.email);
                if(!r1.test(email)){
                    swal('False Email', 'Enter a valid email address', 'error');
                    isValid = false;
                    exit;
                }
                let r2 = new RegExp("^[a-zA-Z0-9\s,'-]*$");
                if(r2.test($.trim(this.address))){
                    swal('Incomplete Address', 'Enter a valid address', 'error');
                    isValid = false;
                    exit;
                }
                if($.trim(this.city.length) < 3){
                    swal('City Not Entered', 'Enter your city', 'error');
                    isValid = false;
                    exit;
                }
                if(this.state.length < 2){
                    swal('Select State', 'Please select the state'+ this.state, 'error');
                    isValid = false;
                    exit;
                }
                if(this.zip.length !== 5){
                    swal('Select State', 'Please enter the zip code', 'error');
                    isValid = false;
                    exit;
                }
                if(this.phone1.length !== 3 || this.phone2.length !== 3 || this.phone3.length !== 4){
                    swal('Need Phone Number', 'Please enter correct phone number', 'error');
                    isValid = false;
                    exit;
                }
                if(isValid){
                    this.submitData();
                }
            },
            submitData(){
                let username = $.trim(this.username);
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let password = $.trim(this.password);
                let first = $.trim(this.first);
                let last = $.trim(this.last);
                let phone1 = this.phone1;
                let phone2 = this.phone2;
                let phone3 = this.phone3;
                let phone = phone1.toString() + phone2.toString() + phone3.toString();
                let email = $.trim(this.email);
                let address = $.trim(this.address);
                let city = $.trim(this.city);
                let state = this.state;
                let zip = this.zip;
                let sendObject = {"username":username, "password":password, "first_name":first, "last_name":last, "phone":phone, "email":email, "address":address, "city":city, "state":state, "zip":zip};
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/add",
                    "method": "POST",
                    "dataType": "json",
                    "headers": {
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "data": sendObject
                };
                let ajaxReturn = [];
                let self = this;
                swal({
                    title: "Create New User?",
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        return new Promise(function (resolve, reject) {
                            $.ajax(settings).done(function(response){
                                //console.log(response);
                                ajaxReturn = response;
                                resolve();
                            });
                        })
                    },
                    allowOutsideClick: false
                }).then(function () {
                    //console.log("Here we are");
                    //console.log(ajaxReturn);
                    if(ajaxReturn.notice.result === 'fail'){
                        swal({
                            type: 'error',
                            title: 'User Creation Failed',
                            text: 'There was an error adding your user.\n If error persists good luck!'
                        })
                    }else{
                        self.username = '';
                        self.password = '';
                        self.password2 = '';
                        self.first = '';
                        self.last = '';
                        self.phone1 = '';
                        self.phone2 = '';
                        self.phone3 = '';
                        self.email = '';
                        self.address = '';
                        self.city = '';
                        self.state = '';
                        self.zip = '';
                        swal({
                            type: 'success',
                            title: 'User Was Created',
                            text: 'Your user was created.\n I will add email verification / validation down the road.'
                        })
                    }
                })
            },
            checkNumeric(e) {
                if(e.shiftKey){
                    e.preventDefault();
                    return;
                }
                let key = e.which || e.keyCode; //use event.which if it's truthy, and default to keyCode otherwise
                //console.log(key);
                // Allow: backspace, delete, tab, and enter
                let controlKeys = [8, 9, 13, 46];

                // Ctrl+ anything or one of the conttrolKeys is valid
                let isControlKey = e.ctrlKey || controlKeys.join(",").match(new RegExp(key));

                if (isControlKey) {return;}

                // stop current key press if it's not a number
                if (!(48 <= key && key <= 57) && !(96 <= key && key <= 105)) {
                    e.preventDefault();
                    return;
                }
            },
        }
    }
</script>

<style scoped>
    .userContainer{
        height: 55%;
        width: 95%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin: 15px 15px 15px 25px;
        vertical-align: top;
    }
</style>