<template>
    <div>
        <div class="newDiv">
            <div class="search-form well">
                <h2 class="text-center">Please Enter Your Login Information</h2>
                <form>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username..." v-model="username">
                        <br/>
                        <label for="password">Password:</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" aria-describedby="basic-eye" placeholder="Enter Password..." v-model="password">
                            <span class="input-group-addon" id="basic-eye" @mouseover="showWord" @mouseout="hideWord"><span class="glyphicon glyphicon-eye-open" id="hoverPass"></span></span>
                        </div>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-primary btn-block" id="submitLogin" @click="submitEntry">Submit Credentials</button>
                </form>
            </div>
        </div>
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        data() {
            return {
                username: '',
                password: ''
            }
        },
        methods: {
            ...mapActions([
                'updateUser',
                'changeLogin'
            ]),
            showWord() {
                let obj = document.getElementById('password');
                obj.type = "text";
            },
            hideWord() {
                let obj = document.getElementById('password');
                obj.type = "password";
            },
            submitEntry() {
                let user = $.trim(this.username);
                let pass = $.trim(this.password);
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let self = this;
                if(user === ''){
                    swal("Empty username", "Please enter your username", "error");
                }else if(pass === ''){
                    swal("Empty password", "Please enter your password", "error");
                }else{
                    $(".sk-folding-cube").show();
                    let sendObject = {"username":user, "password":pass};
                    //console.log(api + "/user/login");
                    let settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": api + "/user/login",
                        "method": "POST",
                        "dataType": "json",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded"
                        },
                        "data": sendObject
                    };

                    $.ajax(settings).done(function(response) {
                        if(response.notice.result === 'success'){
                            $(".sk-folding-cube").hide();
                            self.updateUser(response.notice);
                            self.changeLogin(true);
                            self.$router.push('/');
                        }else{
                            $(".sk-folding-cube").hide();
                            swal({
                                type: 'error',
                                title: 'Login Failed',
                                text: 'Your login was incorrect.\n Please try again.\n If you need to reset your password I\'ll create a password reset later.'
                            })
                        }
                    });
                }

            }
        }
    }
</script>

<style scoped>
    .newDiv{
        width: 80%;
        max-width: 800px;
        height: 50%;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
    }
    .sk-folding-cube {
        width: 140px;
        height: 140px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        display: none;
    }

    .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        background: #2F6441;
    }
    .sk-folding-cube .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        background: rgba(0, 0, 0, 0.29);
    }
    .sk-folding-cube .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }
    .sk-folding-cube .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }
    .sk-folding-cube .sk-cube4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }
    .sk-folding-cube .sk-cube2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .sk-folding-cube .sk-cube3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .sk-folding-cube .sk-cube4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }
    @-webkit-keyframes sk-foldCubeAngle {
        0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        } 25%, 75% {
              -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
              opacity: 1;
          } 90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
    }

    @keyframes sk-foldCubeAngle {
        0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        } 25%, 75% {
              -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
              opacity: 1;
          } 90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
    }
</style>

