<template>

</template>

<script>
    export default{
        created: function () {

        },
        data(){
            return {}
        },
        computed: {},
        methods: {},
        watch: {}
    }
</script>

<style scoped>

</style>

