<template>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <router-link to="/" class="navbar-brand">Wellovate</router-link>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <router-link to="/login" activeClass="active" tag="li" @click="isDropdownOpen = false"><a>Login</a></router-link>
                    <router-link to="/new_user" activeClass="active" tag="li" @click="isDropdownOpen = false"><a>Join Us</a></router-link>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li v-if="getInfo.user_level === 'admin'" class="dropdown" :class="{open: isDropdownOpen}" @click="isDropdownOpen = !isDropdownOpen">
                        <a
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">Admin Question Options<span class="carat"></span></a>
                    <ul class="dropdown-menu">
                        <router-link to="/add_question" tag="li" @click="isDropdownOpen = false"><a>Add Questions</a></router-link>
                        <router-link to="/edit_question" tag="li" @click="isDropdownOpen = false"><a>Edit Questions</a></router-link>
                        <router-link to="/create_questionnaire" tag="li" @click="isDropdownOpen = false"><a>Create Questionnaire</a></router-link>
                        <router-link to="/assign_user" tag="li" @click="isDropdownOpen = false"><a>Assign Users to Questionnaire</a></router-link>
                        <router-link to="/email_questionnaire" tag="li" @click="isDropdownOpen = false"><a>Email Users About Questionnaire</a></router-link>
                    </ul>
                    </li>
                    <li><a @click="logOff">Log Out</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';

    export default {
        data() {
            return {
                isDropdownOpen: false
            }
        },
        computed: {
            ...mapGetters([
                'getInfo'
            ])
        },
        methods: {
            ...mapActions([
                'changeLogin',
                'emptyUser'
            ]),
            closeDrop(){
                this.isDropdownOpen = false;
            },
            logOff(){
                this.emptyUser();
                this.$router.push('/');
                this.changeLogin(false);
            }
        }
    }
</script>

<style scoped>
    .navbar-default {
        background-color: #2f8d6c;
        border-color: #8bac9b;
    }
    .navbar-default .navbar-brand {
        color: #434343;
    }
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #e9ecf2;
    }
    .navbar-default .navbar-text {
        color: #434343;
    }
    .navbar-default .navbar-nav > li > a {
        color: #434343;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #e9ecf2;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #e9ecf2;
        background-color: #8bac9b;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #e9ecf2;
        background-color: #8bac9b;
    }
    .navbar-default .navbar-toggle {
        border-color: #8bac9b;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #8bac9b;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #434343;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #434343;
    }
    .navbar-default .navbar-link {
        color: #434343;
    }
    .navbar-default .navbar-link:hover {
        color: #e9ecf2;
    }

    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #434343;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #e9ecf2;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #e9ecf2;
            background-color: #8bac9b;
        }
    }
</style>

