<template>
    <div class="welcomeScreen">
        <div class="text-center">
            <p class="lead">
                <h1>Wellovate Home Screen</h1>
            </p>
            <p>
                <h3>Here is where I'll need what you want to say eventually. For now it'll be useless jargon.</h3>
                <span>Bacon ipsum dolor amet culpa est tongue, shank minim ut pork chop venison fatback. Culpa consequat ut cupidatat. Sint aliqua irure ut sirloin. Proident eu shankle, tongue ham hock venison ex ground round pastrami doner sint.</span>
                <br><br>
                <span>Beef laboris velit ex aute consequat ribeye strip steak incididunt sirloin cupim. Eu nostrud kevin cillum meatball meatloaf kielbasa jerky tenderloin boudin ullamco incididunt lorem ball tip hamburger. Kevin jerky flank salami. Short loin swine landjaeger chuck in. Ex sint ground round kevin, enim sirloin ea aute pastrami venison nisi cupim andouille jowl qui.</span>
                <br><br>
                <span>Enim ut cupidatat sausage tail. Pancetta id filet mignon pig ham, eu turkey in ex sirloin veniam. Tail beef ribs bresaola ut alcatra cupim, quis biltong turkey excepteur et est brisket ea. Est labore ad, pork loin veniam shoulder in anim velit culpa prosciutto id adipisicing ham. Ex pork chop cillum porchetta, chuck pariatur voluptate et officia brisket picanha pig est capicola chicken.</span>
            </p>
        </div>
        <div class="superCat" @click="testing">
            <img src="/img/cat1.jpg">
        </div>
    </div>
</template>

<script>
    export default{
        methods:{
            testing(){
                swal({
                    title: 'jQuery HTML example',
                    html: $('<div>')
                        .addClass('some-class')
                        .text('jQuery is everywhere.'),
                    animation: false,
                    customClass: 'animated tada'
                });
            }
        }
    }
</script>

<style scoped>
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .superCat{
        width: 75%;
        margin: 0 auto;
    }

    .welcomeScreen{
        height: 55%;
        width: 95%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 25px;
        margin-bottom: 15px;
        vertical-align: top;
    }
</style>

