<template>
    <div>
        <template v-for="(quest, index) in questions.array">
            <div class="questContain">
                <hr>
                <span id="question">{{quest.question | capitalize}}</span>
                <hr>
                <input type="text" class="form-control" v-model="quest.question">
                <hr>
                <div v-if="quest.typeID === '1'">
                    <span class="questStyle">Question Style</span>
                    <br>
                    <span class="questStyle2">Boolean</span>
                    <hr>
                    <div class="radio-inline">
                        <label><input type="radio" v-bind:name="quest.questionID+'questRadio'">True</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" v-bind:name="quest.questionID+'questRadio'">False</label>
                    </div>
                </div>
                <div v-else-if="quest.typeID === '2'">
                    <span class="questStyle">Question Style</span>
                    <br>
                    <span class="questStyle2">String</span>
                    <hr>
                    <input type="text" class="form-control">
                </div>
                <div v-else-if="quest.typeID === '3'">
                    <span class="questStyle">Question Style</span>
                    <br>
                    <span class="questStyle2">Integer</span>
                    <hr>
                    <input type="text" class="form-control" @keydown="checkNumeric($event)">
                </div>
                <div v-else-if="quest.typeID === '4'">
                    <span class="questStyle">Question Style</span>
                    <br>
                    <span class="questStyle2">Double</span>
                    <hr>
                    <input type="text" class="form-control" @keydown="checkAmount($event)">
                </div>
                <div v-else-if="quest.typeID === '5'">
                    <span class="questStyle">Question Style</span>
                    <br>
                    <span class="questStyle2">Enum</span>
                    <hr>
                    <template v-for="enums in quest.enumFields">
                        <div class="radio-inline">
                            <label><input type="radio" v-bind:name="quest.questionID+'questEnums'">{{enums.enumString | capitalize}}</label>
                            <br>
                            <input type="text" class="form-control" v-model="enums.enumString">
                        </div>
                    </template>
                </div>
                <div v-else>
                    <span class="questStyle">Undefined Question Type</span>
                </div>
                <hr>
                <button type="button" class="btn btn-warning" @click="editQuestion(index)">Edit Question ?</button>
                <br>
                <hr>
            </div>
        </template>
    </div>
</template>

<script>
    export default{
        props: ['questions'],
        methods:{
            checkNumeric(e) {
                let key = e.which || e.keyCode; //use event.which if it's truthy, and default to keyCode otherwise
                //console.log(key);
                // Allow: backspace, delete, tab, and enter
                let controlKeys = [8, 9, 13, 46];

                // Ctrl+ anything or one of the conttrolKeys is valid
                let isControlKey = e.ctrlKey || controlKeys.join(",").match(new RegExp(key));

                if (isControlKey) {return;}

                // stop current key press if it's not a number
                if (!(48 <= key && key <= 57) && !(96 <= key && key <= 105)) {
                    e.preventDefault();
                    return;
                }
            },
            checkAmount(e) {
                let key = e.which || e.keyCode; //use event.which if it's truthy, and default to keyCode otherwise
                //console.log(key);
                // Allow: backspace, delete, tab, and enter
                let controlKeys = [8, 9, 13, 46, 110, 190];

                // Ctrl+ anything or one of the conttrolKeys is valid
                let isControlKey = e.ctrlKey || controlKeys.join(",").match(new RegExp(key));

                if (isControlKey) {return;}

                // stop current key press if it's not a number
                if (!(48 <= key && key <= 57) && !(96 <= key && key <= 105)) {
                    e.preventDefault();
                    return;
                }
            },
            editQuestion(index){
                let user = this.$store.state.userInfo;
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let thisArray = this.questions.array[index];
                let sendArray = JSON.stringify(thisArray);
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/question/edit",
                    "method": "PUT",
                    "dataType": "json",
                    "headers": {
                        "content-type": "application/json",
                        "cache-control": "no-cache",
                        "Well-Token": user.token,
                        "user-id": user.userID
                    },
                    "processData": false,
                    "data": sendArray
                };

                let ajaxReturn = [];
                swal({
                    title: 'Edit This Question',
                    showCancelButton: true,
                    text: thisArray.question,
                    type: 'question',
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        return new Promise(function (resolve, reject) {
                            $.ajax(settings).done(function(response){
                                //console.log(response);
                                ajaxReturn = response;
                                resolve();
                            });
                        })
                    },
                }).then(function(){
                    if(ajaxReturn.notice.result === 'success'){
                        swal({
                            type: 'success',
                            title: 'Question Was Edited',
                            text: 'You have edited the question successfully'
                        })
                    }else{
                        swal({
                            type: 'error',
                            title: 'Question Edit Failed',
                            text: ajaxReturn.notice.text
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>
    #question{
        font-weight: bold;
        font-size: larger;
    }

    .questStyle{
        font-weight: bold;
    }

    .questStyle2{
        font-weight: bold;
        color: #a61c48;
    }

    .questContain{
        height: 55%;
        width: 95%;
        background: rgba(28, 112, 56, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin: 15px;
        vertical-align: top;
    }
</style>

