<template>
    <div class="questionContainer">
        <div class="text-center">
            <h2>Add a Question?</h2>
            <h3>If so select a question type to continue</h3>
            <br><br>
            <label for="questType">Select question group:</label>
            <select name="questType" id="questType" class="form-control"  v-model="selectedQuestion" @change="showArrType">
                <option value="" disabled selected>Select One</option>
                <option v-for="quests in getQuestType.array" :value="quests.ass_typeID">{{quests.type_description}}</option>
            </select>
            <template v-if="showArray">
                <br>
                <label for="questTypeArray">Select Question Type:</label>
                <select name="questTypeArray" id="questTypeArray" class="form-control" v-model="selectedType" @change="showQuestInput">
                    <option value="" disabled selected>Select One</option>
                    <option v-for="questArr in getQuestTypeArray.array" :value="questArr.typeID">{{questArr.question_types}}</option>
                </select>
            </template>
            <template v-if="showEnum">
                <br>
                <label for="enterEnum">Select Number of Responses</label>
                <select name="enterEnum" id="enterEnum" class="form-control" v-model="enumInput" @change="createEnumFields">
                    <option value="" disabled selected>Select Number of Responses</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </template>
            <template v-if="showQuest">
                <br>
                <label for="questInput">Enter Question</label>
                <input type="text" class="form-control" id="questInput" name="questInput" v-model="questInput">
            </template>
            <template v-if="showEnumQuest">
                <br>
                <label for="enumAmount">Enter responses in ascending order</label>
                <div id="enumAmount">
                    <template v-for="enumQuest in enumArray">
                        <label :for="'enum'+enumQuest.enumID">{{enumQuest.header}}</label>
                        <input type="text" class="form-control" :id="'enum'+enumQuest.enumID" v-model="enumQuest.answer">
                    </template>
                </div>
            </template>
            <template v-if="showButton">
                <br>
                <label for="submitButton">Save Question</label>
                <button type="button" id="submitButton" class="btn btn-primary btn-block" @click="saveQuestionCheck">Save Question</button>
            </template>
        </div>
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';

    export default{
        created: function () {
            let user = this.$store.state.userInfo;
            let userID = user.userID;
            let api = this.$store.state.liveAPI;
            // let api = this.$store.state.testAPI;
            let self = this;
            if(user.user_level === 'admin'){
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/question/main/"+userID,
                    "method": "GET",
                    "dataType": "json",
                    "headers": {
                        "cache-control": "no-cache",
                        "Well-Token": user.token
                    }
                };
                $.ajax(settings).done(function (response) {
                    if(response.notice.text === "success"){
                        //console.log(response);
                        self.updateQuestType(response.data);
                        self.getTypes();
                    }else if(response.notice.text === "Invalid Token" || response.notice.text === "no token"){
                        self.$router.push('/');
                        self.changeLogin(false);
                        self.emptyUser();
                    }else{
                        self.$router.push('/');
                        self.changeLogin(false);
                        self.emptyUser();
                    }

                });
            }

        },
        data(){
            return{
                selectedQuestion:'',
                selectedType:'',
                questInput:'',
                enumInput:'',
                enumArray:[],
                sendArray:[],
                showArray:false,
                showQuest:false,
                showEnum:false,
                showEnumQuest:false,
                showButton: false
            }
        },
        computed: {
            ...mapGetters([
                'getQuestType',
                'getQuestTypeArray'
            ])
        },
        methods: {
            ...mapActions([
                'updateQuestType',
                'updateQuestTypeArray',
                'changeLogin',
                'emptyUser'
            ]),
            getTypes(){
                let self = this;
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/question/type",
                    "method": "GET",
                    "dataType": "json",
                    "headers": {
                        "cache-control": "no-cache"
                    }
                };

                $.ajax(settings).done(function (response) {
                    if(response.notice.text === "success"){
                        self.updateQuestTypeArray(response.data);
                    }
                });
            },
            showArrType(){
                this.showArray = true;
            },
            showQuestInput(){
                this.questInput = '';
                if(this.selectedType === '5'){
                    this.showEnum = true;
                    this.showQuest = false;
                } else {
                    this.showQuest = true;
                    this.showEnum = false;
                    this.enumInput = '';
                    this.showEnumQuest = false;
                }
            },
            createEnumFields(){
                this.showQuest = true;
                this.showEnumQuest = true;
                this.enumInput = parseInt(this.enumInput, 10);
                let i = 1;
                let first = true;
                this.enumArray = [];
                for(i; i<=this.enumInput; i++){
                    let arrayObj = {};
                    if(first){
                        arrayObj ={"enumID":i, "header":"Enter Response (lowest)", "answer": ""};
                        first = false;
                    }else if(i === this.enumInput){
                        arrayObj ={"enumID":i, "header":"Enter Response (highest)", "answer": ""};
                    }else{
                        arrayObj ={"enumID":i, "header":"Enter Response Number "+i, "answer": ""};
                    }
                    this.enumArray.push(arrayObj);
                }
                //console.log(this.enumArray);
            },
            saveQuestionCheck(){
                let errors = false;
                if(this.selectedType === '5'){
                    let i = 0;
                    for(i; i<this.enumArray.length; i++){
                        if(this.enumArray[i].answer.length < 1){
                            errors = true;
                            $("#enum"+this.enumArray[i].enumID).css('border', '5px solid #f00');
                        }
                    }
                    if(!errors){
                        this.saveQuestion();
                    }else{
                        swal(
                            'Form Error',
                            'Enum Fields cannot be left blank',
                            'error'
                        )
                    }
                }else{
                    this.saveQuestion();
                }
            },
            saveQuestion(){
                let user = this.$store.state.userInfo;
                let groupID = this.selectedQuestion;
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let questTypeID = this.selectedType;
                let question = this.questInput;
                let enums = [];
                let self = this;
                $(".sk-folding-cube").show();
                if(questTypeID === '5'){
                    let i = 0;
                    for(i; i<this.enumArray.length;i++){
                        let enumPiece = {"enumID":this.enumArray[i].enumID, "enumQuest":this.enumArray[i].answer};
                        enums.push(enumPiece);
                    }
                    //console.log(enums);
                }
                let questPiece = {"groupID": groupID, "questTypeID":questTypeID, "question": question};
                if(questTypeID === '5'){
                    questPiece['enums'] = enums;
                }
                let settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": api + "/question/add",
                    "method": "POST",
                    "dataType": "json",
                    "headers": {
                        "content-type": "application/json",
                        "cache-control": "no-cache",
                        "Well-Token": user.token,
                        "user-id": user.userID
                    },
                    "processData": false,
                    "data": JSON.stringify(questPiece)
                };

                $.ajax(settings).done(function (response) {
                    $(".sk-folding-cube").hide();
                    if(response.notice.return === 'fail'){
                        swal({
                            type: 'error',
                            title: 'User Creation Failed',
                            text: 'There was an error adding your user.\n If error persists good luck!'
                        })
                    }else{
                        swal({
                            type: 'success',
                            title: 'Question Successfully Added',
                            text: response.notice.text
                        });
                        self.clearPage();
                    }
                });
            },
            clearPage(){
                this.selectedQuestion = '';
                this.selectedType = '';
                this.questInput = '';
                this.enumInput = '';
                this.enumArray = [];
                this.sendArray = [];
                this.showArray = false;
                this.showQuest = false;
                this.showEnum = false;
                this.showEnumQuest = false;
                this.showButton = false;
            }
        },
        watch: {
            questInput: function () {
                this.showButton = this.questInput.length > 2;
            }
        }
    }
</script>

<style scoped>
    .questionContainer{
        height: 55%;
        width: 95%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin: 15px 15px 15px 25px;
        vertical-align: top;
    }

    .sk-folding-cube {
        width: 140px;
        height: 140px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        display: none;
    }

    .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        background: #2F6441;
    }
    .sk-folding-cube .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        background: rgba(0, 0, 0, 0.29);
    }
    .sk-folding-cube .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }
    .sk-folding-cube .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }
    .sk-folding-cube .sk-cube4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }
    .sk-folding-cube .sk-cube2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .sk-folding-cube .sk-cube3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .sk-folding-cube .sk-cube4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }
    @-webkit-keyframes sk-foldCubeAngle {
        0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        } 25%, 75% {
              -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
              opacity: 1;
          } 90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
    }

    @keyframes sk-foldCubeAngle {
        0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        } 25%, 75% {
              -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
              opacity: 1;
          } 90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
    }
</style>

