<template>
    <div class="loginContainer">
        <div class="text-center">
            <div>
                <div class="">
                    <h2 class="text-center">Please Enter Your Login Information</h2>
                    <form>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter Username..." v-model="username">
                            <br/>
                            <label for="password">Password:</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" aria-describedby="basic-eye" placeholder="Enter Password..." v-model="password">
                                <span class="input-group-addon" id="basic-eye" @mouseover="showWord" @mouseout="hideWord"><span class="glyphicon glyphicon-eye-open" id="hoverPass"></span></span>
                            </div>
                        </div>
                        <br/>
                        <button type="button" class="btn btn-success btn-block" id="submitLogin" @click="submitEntry">Submit Credentials</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                username: '',
                password: ''
            }
        },
        methods: {
            showWord() {
                let obj = document.getElementById('password');
                obj.type = "text";
            },
            hideWord() {
                let obj = document.getElementById('password');
                obj.type = "password";
            },
            submitEntry() {
                let user = $.trim(this.username);
                let pass = $.trim(this.password);
                let api = this.$store.state.liveAPI;
                // let api = this.$store.state.testAPI;
                let self = this;
                if(user === ''){
                    swal("Empty username", "Please enter your username", "error");
                }else if(pass === ''){
                    swal("Empty password", "Please enter your password", "error");
                }else{
                    let sendObject = {"username":user, "password":pass};
                    let settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": api + "/user/login",
                        "method": "POST",
                        "dataType": "json",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded"
                        },
                        "data": sendObject
                    };

                    $.ajax(settings).done(function(response) {
                        if(response.notice.result === 'success'){
                            self.updateUser(response.notice);
                            self.changeLogin(true);
                        }else{
                            swal({
                                type: 'error',
                                title: 'Login Failed',
                                text: 'Your login was incorrect.\n Please try again.\n If you need to reset your password I\'ll create a password reset later.'
                            })
                        }
                    });
                }

            }
        }
    }
</script>

<style scoped>
    .loginContainer{
        height: 55%;
        width: 95%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 20px;
        display: inline-block;
        margin: 15px 15px 15px 25px;
        vertical-align: top;
    }
</style>

