<template>
    <div>
        <app-admin-login v-if="!this.$store.state.loggedIn"></app-admin-login>
        <div v-else>
            <div class="container">
                <app-header></app-header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mainBack">
                            <transition name="slide" mode="out-in">
                                <router-view></router-view>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from './components/Header.vue';
import Logadmion from './components/admin/Logadmin.vue';
import {mapGetters} from 'vuex';
    export default {
        computed:{
            ...mapGetters([
                'getInfo'
            ])
        },
        components:{
            appHeader: Header,
            appAdminLogin: Logadmion
        }
    }
</script>

<style>
    body{
        background: url("/img/leo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: scroll;
    }

    html, body {
        height: 100%;
    }

    .mainBack{
        height: 55%;
        width: 95%;
        background: rgba(47, 100, 65, 0.9);
        border-radius: 10px;
        box-shadow: inset 0 0 10px black, 0 0 10px black;
        padding: 0 20px;
        display: inline-block;
        margin: 15px 15px 15px 25px;
        vertical-align: top;

    }

    .slide-enter-active {
        animation: slide-in 200ms ease-out forwards;
    }

    .slide-leave-active {
        animation: slide-out 200ms ease-out forwards;
    }

    @keyframes slide-in {
        from {
            transform: scale(0.9,0.9);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: scale(0.9,0.9);
            opacity: 0;
        }
    }
</style>
